{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="question">{{ question.question_text }}</h1>

    {% if error_message %}
    <p class="error-message">{{ error_message }}</p>
    {% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ choice.id }}" value="{{ choice.id }}"
                   {% if previous_choice and previous_choice.id == choice.id %}checked{% endif %}>
            <label for="choice{{ choice.id }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
        <input type="submit" value="Vote">
    </form>
    
    <div class="nav-links">
        <a href="{% url 'polls:results' question.id %}">View Results</a>
    </div>

    <div class="nav-links_1">
        <a href="{% url 'polls:index'%}">Back to Poll</a>
    </div>
</div>
{% endblock %}
